@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap");

* {
	font-family: "Nunito", sans-serif;
	font-weight: 500;
}

#root {
	font-size: 100%;
}
p {
	padding: 0em;
	margin: 0.5em;
	font-size: 1.2em;
}

strong {
	font-weight: 700;
}

body,
html {
	font-size: 1em;
	height: 100%;
	text-align: center;
	background: linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
}

footer {
	font-size: 1em;
	font-weight: bold;
}

footer p {
	padding: 10px; 20px;
}

footer svg {
	width: 15px;
	height: 15px;
}

footer a,
footer a:link,
footer a:visited {
	color: #000000;
	font-weight: 700;
}

footer small {
	font-size: 1em;
	font-weight: normal;
}
.main-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 0;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
}

#character p {
	font-size: 1.5rem;
}

img {
	width: 100%;
	height: auto;
}

#button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.info {
	font-size: 0.9em;
}

button {
	background: #ffffff;
	border-radius: 100%;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 80px;
	height: 80px;
	border: 1px solid #9e9e9e;
}

button i svg {
	width: 40px;
	height: 40px;
	background: "#ff5a5a";
}

button:hover:before{
	content: "";
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 100%;
	-webkit-animation: ripples 0.8s ease-in-out;
	animation: ripples 0.8s ease-in-out;
}

@-webkit-keyframes ripples {
	0% {
		border: 1px solid transparent;
	}
	100% {
		border: 20px solid #dfdfdf;
		opacity: 0;
	}
}
@keyframes ripples {
	0% {
		border: 1px solid transparent;
	}
	100% {
		border: 20px solid #dfdfdf;
		opacity: 0;
	}
}

#points {
	opacity: 0;
}

.run-animation {
	-webkit-animation: animatePoints 1s ease-in-out forwards;
	animation: animatePoints 1s ease-in-out forwards;
}

@keyframes animatePoints {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 50%;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
	width: 80px;
  height: 80px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
